/* ---------------------- LIGHT THEME ------------------ */
:root,
.light,
.light-theme {
  /* Accent theme */
  --green-1: #fbfefb;
  --green-2: #f5fbf6;
  --green-3: #e8f7ea;
  --green-4: #d9f1dc;
  --green-5: #c7e9cc;
  --green-6: #b0deb7;
  --green-7: #91cf9c;
  --green-8: #62ba76;
  --green-9: #107434;
  --green-10: #006526;
  --green-11: #217f3e;
  --green-12: #1f3c25;

  --green-a1: #00c00004;
  --green-a2: #00991a0a;
  --green-a3: #00a71717;
  --green-a4: #00a21526;
  --green-a5: #009b1738;
  --green-a6: #0095174f;
  --green-a7: #00901a6e;
  --green-a8: #008f219d;
  --green-a9: #006b26ef;
  --green-a10: #006526;
  --green-a11: #006c21de;
  --green-a12: #002107e0;

  --green-contrast: #fff;
  --green-surface: #f3faf4cc;
  --green-indicator: #107434;
  --green-track: #107434;

  /* Gray theme */
  --gray-1: #fbfdfc;
  --gray-2: #f7f9f8;
  --gray-3: #edf1ef;
  --gray-4: #e6e9e8;
  --gray-5: #dee2e0;
  --gray-6: #d6dad8;
  --gray-7: #cbcfcd;
  --gray-8: #b7bdba;
  --gray-9: #858f8a;
  --gray-10: #7b8480;
  --gray-11: #5e6562;
  --gray-12: #18221e;

  --gray-a1: #00804004;
  --gray-a2: #00402008;
  --gray-a3: #00391d12;
  --gray-a4: #001f1519;
  --gray-a5: #001f1021;
  --gray-a6: #00190d29;
  --gray-a7: #00140a34;
  --gray-a8: #00160b48;
  --gray-a9: #01150b7a;
  --gray-a10: #00120a84;
  --gray-a11: #000b07a1;
  --gray-a12: #000b07e7;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #858f8a;
  --gray-track: #858f8a;

  /* Background color */
  --color-background: #fff;

  /* Cursors */
  --cursor-checkbox: pointer;
  --cursor-button: pointer;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      /* Accent theme */
      --green-1: oklch(99.4% 0.0053 149.4);
      --green-2: oklch(98.2% 0.0093 149.4);
      --green-3: oklch(96.1% 0.0233 149.4);
      --green-4: oklch(93.4% 0.0372 149.4);
      --green-5: oklch(90.1% 0.0532 149.4);
      --green-6: oklch(85.8% 0.0717 149.4);
      --green-7: oklch(79.8% 0.0953 149.4);
      --green-8: oklch(71.6% 0.1303 149.4);
      --green-9: oklch(49.1% 0.1308 149.4);
      --green-10: oklch(44% 0.1308 149.4);
      --green-11: oklch(52.7% 0.1308 149.4);
      --green-12: oklch(32.7% 0.0536 149.4);

      --green-a1: color(display-p3 0.2667 0.7569 0.0235 / 0.016);
      --green-a2: color(display-p3 0.0235 0.5647 0.0235 / 0.036);
      --green-a3: color(display-p3 0.0078 0.6039 0.0078 / 0.079);
      --green-a4: color(display-p3 0.0078 0.549 0.0078 / 0.13);
      --green-a5: color(display-p3 0.0078 0.5333 0.0078 / 0.193);
      --green-a6: color(display-p3 0.0039 0.5176 0.0196 / 0.275);
      --green-a7: color(display-p3 0.0039 0.4863 0.0235 / 0.381);
      --green-a8: color(display-p3 0 0.4745 0.0314 / 0.53);
      --green-a9: color(display-p3 0 0.302 0.0314 / 0.793);
      --green-a10: color(display-p3 0 0.2667 0.0196 / 0.836);
      --green-a11: color(display-p3 0 0.3255 0.0314 / 0.753);
      --green-a12: color(display-p3 0 0.098 0.0039 / 0.851);

      --green-contrast: #fff;
      --green-surface: color(display-p3 0.9569 0.9804 0.9569 / 0.8);
      --green-indicator: oklch(49.1% 0.1308 149.4);
      --green-track: oklch(49.1% 0.1308 149.4);

      /* Gray theme */
      --gray-1: oklch(99.2% 0.0032 167.5);
      --gray-2: oklch(98.1% 0.0034 167.5);
      --gray-3: oklch(95.5% 0.0044 167.5);
      --gray-4: oklch(93.1% 0.0044 167.5);
      --gray-5: oklch(90.9% 0.005 167.5);
      --gray-6: oklch(88.5% 0.0051 167.5);
      --gray-7: oklch(85.1% 0.0055 167.5);
      --gray-8: oklch(79.2% 0.0067 167.5);
      --gray-9: oklch(63.9% 0.0131 167.5);
      --gray-10: oklch(60.5% 0.0122 167.5);
      --gray-11: oklch(50.1% 0.0099 167.5);
      --gray-12: oklch(24% 0.0152 167.5);

      --gray-a1: color(display-p3 0.0235 0.5137 0.2667 / 0.016);
      --gray-a2: color(display-p3 0.0196 0.2667 0.1451 / 0.032);
      --gray-a3: color(display-p3 0.0078 0.1843 0.0667 / 0.067);
      --gray-a4: color(display-p3 0.0118 0.0941 0.051 / 0.095);
      --gray-a5: color(display-p3 0.0078 0.098 0.0353 / 0.126);
      --gray-a6: color(display-p3 0.0039 0.0784 0.0275 / 0.157);
      --gray-a7: color(display-p3 0 0.0588 0.0196 / 0.2);
      --gray-a8: color(display-p3 0.0039 0.0745 0.0314 / 0.279);
      --gray-a9: color(display-p3 0.0039 0.0706 0.0275 / 0.471);
      --gray-a10: color(display-p3 0 0.0549 0.0235 / 0.51);
      --gray-a11: color(display-p3 0 0.0392 0.0196 / 0.628);
      --gray-a12: color(display-p3 0 0.0353 0.0196 / 0.899);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(63.9% 0.0131 167.5);
      --gray-track: oklch(63.9% 0.0131 167.5);
    }
  }
}

.radix-themes {
  --color-background: #fff;
}

/* ---------------------- DARK THEME ------------------ */

.dark,
.dark-theme {
  /* Accent theme */
  --green-1: #040b05;
  --green-2: #111912;
  --green-3: #162a1a;
  --green-4: #123c1d;
  --green-5: #174a25;
  --green-6: #1c5a2d;
  --green-7: #1f6b35;
  --green-8: #207e3d;
  --green-9: #107434;
  --green-10: #14632e;
  --green-11: #76cf89;
  --green-12: #b0f6bc;

  --green-a1: #00b30003;
  --green-a2: #9dfa8211;
  --green-a3: #75fa7f23;
  --green-a4: #3cff6635;
  --green-a5: #43fd7044;
  --green-a6: #47ff7454;
  --green-a7: #43fe7666;
  --green-a8: #3bfd757a;
  --green-a9: #1cff6a6f;
  --green-a10: #2bfd6c5e;
  --green-a11: #91fea7ce;
  --green-a12: #b6ffc3f6;

  --green-contrast: #fff;
  --green-surface: #1b291a80;
  --green-indicator: #107434;
  --green-track: #107434;

  /* Gray theme */
  --gray-1: #080908;
  --gray-2: #161817;
  --gray-3: #202221;
  --gray-4: #272a28;
  --gray-5: #2e3130;
  --gray-6: #373b39;
  --gray-7: #444947;
  --gray-8: #5b615f;
  --gray-9: #67706c;
  --gray-10: #757e7a;
  --gray-11: #aeb6b2;
  --gray-12: #eceeed;

  --gray-a1: #87090002;
  --gray-a2: #f7f9da10;
  --gray-a3: #fdffec1a;
  --gray-a4: #f1fae523;
  --gray-a5: #f4fbf12a;
  --gray-a6: #f2fff134;
  --gray-a7: #f0fdf343;
  --gray-a8: #f0fdf65c;
  --gray-a9: #ecfff46b;
  --gray-a10: #edfdf57a;
  --gray-a11: #f4fef8b4;
  --gray-a12: #fdfefdee;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #67706c;
  --gray-track: #67706c;

  /* Background */
  --color-background: #07090a;

  /* Cursors */
  --cursor-checkbox: pointer;
  --cursor-button: pointer;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      /* Accent theme */
      --green-1: oklch(13.8% 0.019 149.4);
      --green-2: oklch(20.3% 0.019 149.4);
      --green-3: oklch(26.3% 0.0403 149.4);
      --green-4: oklch(31.7% 0.0702 149.4);
      --green-5: oklch(36.6% 0.0832 149.4);
      --green-6: oklch(41.6% 0.0969 149.4);
      --green-7: oklch(46.8% 0.1123 149.4);
      --green-8: oklch(52.4% 0.1308 149.4);
      --green-9: oklch(49.1% 0.1308 149.4);
      --green-10: oklch(44% 0.1123 149.4);
      --green-11: oklch(78% 0.1308 149.4);
      --green-12: oklch(91.1% 0.1048 149.4);

      --green-a1: color(display-p3 0 0.9098 0 / 0.009);
      --green-a2: color(display-p3 0.7412 0.9882 0.5765 / 0.066);
      --green-a3: color(display-p3 0.6275 0.9961 0.549 / 0.131);
      --green-a4: color(display-p3 0.4706 1 0.4627 / 0.204);
      --green-a5: color(display-p3 0.4941 0.9961 0.5059 / 0.261);
      --green-a6: color(display-p3 0.498 1 0.5216 / 0.326);
      --green-a7: color(display-p3 0.502 1 0.5333 / 0.391);
      --green-a8: color(display-p3 0.4863 1 0.5255 / 0.468);
      --green-a9: color(display-p3 0.451 1 0.4902 / 0.427);
      --green-a10: color(display-p3 0.4627 1 0.498 / 0.362);
      --green-a11: color(display-p3 0.6784 1 0.6941 / 0.797);
      --green-a12: color(display-p3 0.7843 1 0.7922 / 0.956);

      --green-contrast: #fff;
      --green-surface: color(display-p3 0.1098 0.1569 0.1098 / 0.5);
      --green-indicator: oklch(49.1% 0.1308 149.4);
      --green-track: oklch(49.1% 0.1308 149.4);

      /* Gray theme */
      --gray-1: oklch(13.8% 0.0032 167.5);
      --gray-2: oklch(20.6% 0.0031 167.5);
      --gray-3: oklch(24.9% 0.0038 167.5);
      --gray-4: oklch(28% 0.0042 167.5);
      --gray-5: oklch(31.1% 0.0049 167.5);
      --gray-6: oklch(34.7% 0.0057 167.5);
      --gray-7: oklch(40% 0.0072 167.5);
      --gray-8: oklch(48.8% 0.0093 167.5);
      --gray-9: oklch(53.7% 0.0132 167.5);
      --gray-10: oklch(58.3% 0.0122 167.5);
      --gray-11: oklch(76.8% 0.0095 167.5);
      --gray-12: oklch(94.8% 0.0025 167.5);

      --gray-a1: color(display-p3 0.8157 0.0353 0 / 0.005);
      --gray-a2: color(display-p3 0.9922 1 0.8784 / 0.061);
      --gray-a3: color(display-p3 0.9922 1 0.9255 / 0.102);
      --gray-a4: color(display-p3 0.9882 0.9961 0.9137 / 0.135);
      --gray-a5: color(display-p3 0.9922 0.9961 0.9569 / 0.163);
      --gray-a6: color(display-p3 0.9686 1 0.9451 / 0.204);
      --gray-a7: color(display-p3 0.9608 0.9961 0.9569 / 0.261);
      --gray-a8: color(display-p3 0.9608 1 0.9725 / 0.358);
      --gray-a9: color(display-p3 0.9451 1 0.9569 / 0.419);
      --gray-a10: color(display-p3 0.949 1 0.9647 / 0.476);
      --gray-a11: color(display-p3 0.9647 0.9961 0.9765 / 0.704);
      --gray-a12: color(display-p3 0.9922 1 0.9961 / 0.931);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.7% 0.0132 167.5);
      --gray-track: oklch(53.7% 0.0132 167.5);
    }
  }
}

:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #07090a;
}

/* ----------------- CUSTOM OVERRIDES ------------------ */

* {
  min-height: 0;
  min-width: 0;
  margin: 0;
}

.rt-BaseButton:not([data-disabled='true']) {
  cursor: pointer;
}

.rt-variant-ghost[data-override='inline-ghost'] {
  margin: 0;
  box-sizing: border-box;
  padding: 0px 16px;
  font-weight: var(--font-weight-medium);
  height: var(--base-button-height);
}

.rt-variant-ghost[data-override='fix-margin'] {
  margin: 0;
}

.rt-ScrollAreaViewport > div {
  width: auto;
}

.rt-AvatarRoot:where(.rt-variant-soft) :where(.rt-AvatarFallback) {
  background-color: transparent;
}
